
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>TUFOD ADMİN PANELİ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button> <!--sidebar-->
        <a href="/Admin/Index" class="w3-bar-item w3-button">HOME PAGE</a>
        <a href="/Admin/iconList" class="w3-bar-item w3-button">ICONS</a>
        <a href="/HomePage/Index" target="_blank" class="w3-bar-item w3-button btn-outline-primary">TUFOD HOME PAGE</a>
        <a href="/Login/LogOut/" class="w3-bar-item w3-button btn-outline-danger">SIGN OUT</a>
    </div>

    <div id="main">
        <div class="w3-teal">
            <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>TUFOD</h1>
            </div>
        </div>

        <div class="w3-container">
           @RenderBody() <!--sidebarın sabit kalmasını sağlayan bağlantı-->
        </div>

    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
          document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>
</html>

